
.DS_Store
EFI for Z590 Vision G/OC/.DS_Store
EFI for Z590 Vision G/OC/ACPI/.DS_Store
EFI for Z590 Vision G/OC/.DS_Store
EFI for Z590 Vision G/.DS_Store
EFI for Z590 Vision G/OC/.DS_Store
EFI for Z590 Vision G/.DS_Store
EFI for Z590 Vision G/OC/.DS_Store
EFI for Z590 Vision G/.DS_Store
